<footer >
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-6 text-left">
              <h6 class="text-muted lead">CONTACTO:</h6>
              <h6 class="text-muted">
              Carretera 8h No. 166-71 Local 2<br>
              Santa Cruz de la Ronda.<br>
              Teléfonos: 3115988953 – 3112641818.<br>
              </h6>
          </div>
  
          <div class="col-xs-12 col-md-6 text-right">
              <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
              <div class="redes-footer">
                <a href="https://www.facebook.com/"><img src="imagenes/facebook-2.png"></a>
                <a href="https://twitter.com/"><img src="imagenes/twitter-2.png"></a>
                <a href="https://www.youtube.com/"><img src="imagenes/youtube-2.png"></a>
              </div>
          </div>
      </div>
      <div class="row"> 
  
          <div class="col-md-12 text-right">
              <p class="text-muted small">Centro de soporte y servicios informaticos @2021.<br> Todos los derechos reservados.</p>
          </div>
          
      </div>
  
      </div>
     
  
  </footer>
