<footer >
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-6 text-left">
              <h6 class="text-muted lead">CONTACTO:</h6>
              <h6 class="text-muted">
              Carretera 8h No. 166-71 Local 2<br>
              Santa Cruz de la Ronda.<br>
              Teléfonos: 3115988953 – 3112641818.<br>
              </h6>
          </div>
  
          <div class="col-xs-12 col-md-6 text-right">
              <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
              <div class="redes-footer">
                <a href="https://www.facebook.com/">
                    <svg width="35" height="35" viewBox="0 0 170 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                        
                        <g clip-path="url(#clip0)">
                        <path d="M160.617 170.001C165.798 170.001 170 165.8 170 160.618V9.38254C170 4.2002 165.798 0 160.617 0H9.38254C4.19953 0 0 4.2002 0 9.38254V160.618C0 165.8 4.19953 170.001 9.38254 170.001H160.617" fill="#395185"/>
                        <path d="M117.297 170V104.167H139.395L142.703 78.5112H117.297V62.1302C117.297 54.702 119.36 49.6398 130.012 49.6398L143.598 49.6338V26.6871C141.247 26.3744 133.183 25.6758 123.801 25.6758C104.212 25.6758 90.8024 37.6322 90.8024 59.5901V78.5112H68.6479V104.167H90.8024V170H117.297" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="170" height="170" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg></a>
              </div>
          </div>
      </div>
      <div class="row"> 
  
          <div class="col-md-12 text-right">
              <p class="text-muted small">Centro de soporte y servicios informaticos @2021.<br> Todos los derechos reservados.</p>
          </div>
          
      </div>
  
      </div>
     
  
  </footer>
