<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <title>Document</title>
    <style>
     .centro{
         text-align: center;
     }
    </style>
</head>
<body>
    <div class="row jumbotron jumbotronfm">
        <div class="col cuadrojum">
            <h1 class="centro">Registro de citas</h1>
            <br>
            </div>
    </div> <br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div id="">
                <div id="login">
                    <div class="titulo">
                        Llena el formulario para registrarte
                    </div>
                    <form id="loginform" action="../Scripts/registroCompleto.php" method="POST">
                      <div class="row">
                        <div class="col">
                        <input type="text" name="nombre" placeholder="¿Qué vamos a reparar?" required autofocus>
                        
                        <input matInput [matDatepicker]="picker">
                         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
          
                        <input type="text" placeholder="Escribe tu apellido materno" name="ap_materno" required>
                      </div>
                      <div class="col">
                        <input type="text" placeholder="Escribe tu nombre de usuario" name="usuario" required>
          
                        <input type="text" placeholder="Escribe tu correo" name="correo" required>
          
                        <input type="password" placeholder="Escribe una contraseña" name="contraseña" required>
                      </div>
                        <button type="submit" name="registrar">Siguiente</button>
                        <p>*SOLO CITAS EN RANGO DE UN MES</p>
                      </div>
                    </form>
                </div>
            </div>
        </div> 
        <div class="col-lg-6">
            <app-calendario></app-calendario> <br><br><br>
        </div>
</div>
         <!-- //columna2-->
        
        
       
    </div>  
</body>
</html>
